.container {
  min-width: 350px;
  max-width: 950px;
  width: 90%;
  margin: auto;
  padding-bottom: 2em;
  color: #282c34;

  &__grupos-pequeños {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 3em;
    align-items: center;
    justify-content: center;

    img {
      width: 48%;
      @media only screen and (max-width: 789px) {
        width: 100%;
      }
    }
  }

  a {
    color: #6c11bc;
  }
}
